.our-team-item {
    margin-right: 30px;
    width: 270px;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    background-color: var(--primary-white-color);
    &:last-child {
            margin-right: 0px;
        }
}



.our-team-list {
    display: flex;
}

.our-team-title {
    margin-top: 0;
    margin-bottom: 50px;
    text-align: center;
    font-weight: 700;
    font-size: 36px;
}

.our-team-title-text {
    padding-top: 30px;
    padding-bottom: 16px;
}

.our-team-sub-title {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.18;
    text-align: Center;
    vertical-align: Top;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
}

.our-team-text {
    color: var(--p-text-color);

    line-height: 1.18;
    text-align: Center;
    letter-spacing: 0.03em;
}

.our-team-social-links-list {
    display: flex;
    justify-content: center;
    align-items: center;

    padding-bottom: 30px;
}

.our-team-social-links {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(255, 255, 255, 0.1);
    width: 44px;
    height: 44px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:last-child {
            margin-right: 0;
        }
    &:hover,
    &:focus {
            border-radius: 50%;
            background-color: var(--accent-color);
        }
}

.our-team-social-item {
    margin-right: 10px;
}



.our-team-social-links-icon {
    fill: #afb1b8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .our-team-social-links:hover &,
    .our-team-social-links:focus & {
            fill: var(--primary-white-color);
        }
}



