.footer {
    background-color: #2f303a;
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__container {
    display: flex;
    align-items: baseline;
}

.footer__address {
    margin-right: 93px;
}

.logo__right-parth--white {
    color: var(--primary-white-color);
}

.address {
    font-style: normal;
}

.address__list {
    margin-top: 20px;
}

.address__item {
    width: 208px;
    &:not(:last-child) {
            margin-bottom: 9px;
        }
}



.address__link {
    color: var(--primary-white-color);

    text-decoration: none;

    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
            color: var(--accent-color);
        }
}



.address__link--alfa {
    color: rgba(255, 255, 255, 0.6);
}

.footer__social {
    margin-right: 93px;
}

.footer__info-text {
    margin-bottom: 20px;
    color: var(--primary-white-color);
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.social {
    display: flex;
}

.social__links {
    margin-right: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
            background-color: var(--accent-color);
        }
}



.social__icon {
    fill: var(--primary-white-color);
    width: 20px;
    height: 20px;
}

.footer__subscribe-text {
    margin-bottom: 20px;
    color: var(--primary-white-color);
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footer__form input::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

.footer__form {
    display: flex;
}

.footer__input {
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background: #2f303a;
    padding-left: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-right: 12px;
    cursor: pointer;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:focus,
    &:hover {
            border-color: var(--accent-color);
        }
}



.footer__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    font-weight: 700;
    letter-spacing: 0.06em;
    background: var(--accent-color);
    color: var(--primary-white-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    outline: transparent;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:focus,
    &:hover {
            background-color: #188ce8;
        }
}



.button-icon {
    margin-left: 10px;
    width: 24px;
    height: 24px;
    fill: var(--primary-white-color);
}